html,
body {
    box-sizing: border-box;
}

body {
    margin: 0 10%;
    padding: 30px 0 30px 10px;
    position: relative;
    background: repeating-linear-gradient(white 0px, white 24px, gray 25px);
    border-left: 1px solid red;
}

.dog-ear {
    background: linear-gradient(135deg, transparent 5vw, 5vw, red 5.2vw, 5.2vw, transparent 5.3vw, 5.3vw, red 8vw, 8vw, transparent 8.1vw, 8.1vw, red 8.3vw, 8.3vw, transparent);
    position: absolute;
    left: -10vw;
    top: 0;
    width: 12vw;
    height: 12vw;
    z-index: 99;
}

.dog-ear h2 {
    color: white;
    font-weight: bold;
    transform: rotate(315deg);
    position: absolute;
    top: 2.8vw;
    left: -0.3vw;
    font-size: 1.3vw;
}

.contact_icons {
    text-align: right;
}

.contact_icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact_icons li {
    display: inline-block;
    margin-left: 25px;
}

.contact_icons img {
    width: 25px;
}

main {
    margin-top: 40px;
    display: grid;
}

.presentation {
    max-width: 450px;
    margin-right: 50px;
}

.avatar {
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.avatar img {
    max-width: 250px;
    border-radius: 50%;
    width: 100%;
    max-width: 25vw;
    border: 1px solid;
}

.portfolio_gallery {
    grid-column: span 2;
}

.portfolio_item {
    border: 6px solid black;
    border-radius: 10px;
    height: 200px;
    margin: 5px 0;
    position: relative;
}

.portfolio_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.portfolio_item .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    background: linear-gradient(180deg,  transparent, black);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.portfolio_item .overlay:hover {
    background: linear-gradient(180deg, transparent, 75%, black);
}

.portfolio_item h1 {
    margin: 5px 0;
    text-shadow: 2px  2px 4px black;
    color: white;
}

.portfolio_item p {
    margin: 5px 0;
    color: white;
}

.portfolio_item a {
    color: lightgray;
    text-decoration: none;
}

.portfolio_item a:hover {
    text-decoration: underline;
}

.portfolio_item a:not(:first-of-type)::before {
    content: "|";
    color: lightgray;
    margin: 0 10px;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: smaller;
    color: gray;
    padding-bottom: 5px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    text-decoration: underline;
}